.container {
  position: fixed;
  height: 100%;
  width: 80%;
  overflow: auto;
  top: 0;
  left: 50%;
  margin-left: -40%;
  padding: 1rem 3rem;
  background-color: white;
  z-index: 2;
  word-wrap: break-word;
  display: grid;
  grid-template-rows: 1fr 3fr 5fr;
  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .commentsContainer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .title {
    text-align: center;
    h2 {
      font-size: 3rem;
      word-break: break-word;
    }
    p {
      color: rgba(159, 161, 166, 0.5);
    }
  }
  @media screen and (max-width: 768px) {
    padding: 0;
    width: 100%;
    margin-left: -50%;
  }
  .icon {
    font-size: 2rem;
    color: rgba(159, 161, 166, 0.5);
  }
  .iconText {
    color: rgba(159, 161, 166, 0.5);
  }
  .linkContainer {
    padding: 1rem 0;
    text-align: center;
    a:active,
    a:hover,
    a {
      font-weight: bold;
      font-size: 3rem;
      text-decoration: none;
      color:rgba(57, 168, 165, 1);
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
