main {
  padding: 0 50px;
  .container {
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 48px;
    grid-row-gap: 48px;
  }
}
